<%= render 'shared/nav' %>
<div class="hero bg-base-200 w-screen h-full">
  <section class="m-24">
    <div class="mx-auto max-w-2xl">
      <p class="text-center text-gray-500 dark:text-white font-medium tracking-wide uppercase">Home</p>
      <p class="mt-2 text-center text-4xl md:text-6xl text-black dark:text-white font-bold tracking-tight">The best way to do X</p>
      <p class="mt-6 text-lg text-gray-600 dark:text-white text-center">Want to receive a monthly email in your inbox for thing X? Please submit your email below.</p>
      <div class="mt-24 w-full rounded-lg drop-shadow-xl p-2.5 flex border border-gray-300">
        <input type="email" class="border-none focus:outline-none p-2.5 flex-1 flex-shrink-0 text-lg w-full"/>
        <button type="submit" fontfamily="Arial" class="px-5 py-2.5 rounded-md bg-black text-white">Subscribe</button>
      </div>
      <div class="items-center justify-center mt-6 flex gap-3">
        <p class="text-center text-gray-600 dark:text-white">It's 100% free and we will never send more than one email per month</p>
      </div>
    </div>
  </section>
</div>
