# dev data
**/dev_data

# mac specific ignores
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# npm
**/node_modules/

# root env and venv for lambdas
**/.env
.venv
venv/
venv.bak/

# npm
**/node_modules/

# linting and serverless
**/.serverless/
**/.ruff_cache





