<div data-controller="theme" data-action="change->theme#saveCheckboxState" >
  <label class="swap swap-rotate">
    <!-- this hidden checkbox controls the state -->
    <input type="checkbox" data-theme-target="checkbox" class="theme-controller hidden" value="acid" />
    <!-- sun icon -->
    <%= render 'shared/sun' %>
    <!-- moon icon -->
    <%= render 'shared/moon' %>
  </label>
</div>