<div class="navbar-start">
  <div class="dropdown dropdown-right">
    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden" >
      <%= render 'shared/hamburger' %>
      <%= render 'shared/dropdown_options' %>
    </div>
  </div>
  <a class="btn btn-ghost text-xl absolute top-2 right-16 lg:hidden">railsTemplate</a>
  <div class="absolute right-5 top-3 lg:hidden">
    <%= render 'shared/dark_light' %>
  </div>
</div>