<div class="navbar-start">
  <%= render 'shared/hamburger' %>
  <div class="dropdown dropdown-right hidden" id="mobile-menu">
    <%= render 'shared/dropdown_options' %>
  </div>
</div>
<a class="btn btn-ghost text-xl absolute top-2 right-16 lg:hidden">railsTemplate</a>
<div class="absolute right-5 top-3 lg:hidden">
  <%= render 'shared/dark_light' %>
</div>
</div>