<%= render 'shared/nav' %>
<div class="bg-white dark:bg-slate-800 shadow-lg h-full pt-10 pb-10" >
  <div class="h-auto w-2/3 p-10 mx-auto rounded-lg flex-col bg-slate-800 dark:bg-white shadow-lg text-white dark:text-slate-900">
    <%= render partial: inner_partial %>
  </div>
</div>