<%= render 'shared/nav' %>
<div class="bg-base-200 h-full pt-10 pb-10" >
  <div class="lg:w-1/2 lg:h-full sm:w-1/2 sm:h-1/2 mx-auto rounded-lg flex-col bg-base-100 shadow-lg shadow-base-1000">
    <%= render partial: inner_partial %>
  </div>
</div>