<%= render 'shared/nav' %>
<div class="h-screen pt-10 pb-10 bg-gray-100 dark:bg-slate-600 border border-gray-500 dark:border-slate-600" >
  <div class="h-full w-2/3 p-10 mx-auto rounded-lg flex-col bg-gray-300 dark:bg-slate-700 text-slate-800 dark:text-white">
    <%= render partial: inner_partial %>
  </div>
</div>