<%= render 'shared/nav' %>
<div class="bg-white dark:bg-slate-800 shadow-lg h-screen pt-10 pb-10" >
  <div class="h-full w-2/3 p-10 mx-auto rounded-lg flex-col bg-white dark:bg-slate-800 dark:text-white text-slate-800">
    <%= render partial: inner_partial %>
  </div>
</div>