<div>
  <h1> Edit blog post </h1>
  <%= render partial: "form", locals: {blog_post: @blog_post} %>
  <%= button_to 'Delete', blog_post_path(@blog_post), method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
</div>