<div class="container mx-auto justify-center items-center">
  <div class="items-center justify-center flex-auto">
    <h1 class="text-2xl"> blog articles </h1>
    <div>
      <% @blog_posts.each do |blog_post| %>
        <a href="<%= blog_posts_path(blog_post) %>" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> <%= blog_post.title %> </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400"><%= blog_post.body %></p>
        </a>
      <% end%>
    </div>
  </div>
</div>
