<div class="container mx-auto justify-center items-center">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray"> <%= @blog_post.title %> </h5>
  <p class="font-normal text-gray-700 dark:text-gray-400"><%= @blog_post.body %></p>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> <%= link_to 'Back', blog_posts_path %> </button>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> </button>
</div>