<div class="navbar bg-base-100">
  <a class="btn btn-ghost text-xl">daisyUI</a>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to 'Files', uploads_path, class: "link link-hover"%>
      </li>
      <li>
        <%= link_to 'New Upload', new_upload_path, class: "link link-hover"%>
      </li>
    </ul>
  </div>
</div>