<div class="hero-content flex-col" id="no-search-yet">
    <p class="text-2xl">
      Search for somethin would ya?
    </p>
  <img
    src="https://i.pinimg.com/originals/f5/48/5f/f5485f1f382d1e5d6c72a2f66cd490d9.png"
    class="max-w-sm rounded-sm" />
</div>