<% if @uploads.present? %>
  <div class="flex flex-col items-center justify-center">
    <button 
          onclick="window.location.reload();" 
          class="btn btn-primary btn-sm"
          aria-label="Refresh"
        >
      <i class="fas fa-sync"></i>
    </button>
    <div class="w-full h-5"></div>
  </div>
  <% @uploads.each_with_index do |upload, index| %>
    <% if index > 0 %>
      <div class="w-full h-5"></div>
    <% end %>
    <%= render "uploads/index_card", upload: upload %>
  <% end %>
  <div class="pagy-nav flex my-5 mb-5 justify-center center-content">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
<% else %>
  <%= render "uploads/no_uploads" %>
<% end %>
