<%= render 'shared/nav' %>
<div class="hero bg-base-200">
  <div class="hero-content flex-col gap-5">
    <h2 class="text-3xl font-semibold text-white-800 mb-4">Work in Progress</h2>
    <p class="text-lg text-white-600 leading-relaxed">
      This page is currently under construction. 
    </p>
  </div>
</div>